.add-event-page {
    margin-top: 23%;
    margin-left: 5%;

    p {
        font-family: 'Orbitron', sans-serif;
        font-size: 14px;
        color: #37bdcc;
        margin-bottom: 0
    }

    select {
        
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: grey;
    }

    input {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: grey;
    }
}

