.complete-button {
    font-family: Orbitron, sans-serif;
    font-size: 14px;
    color: #37bdcc;
    float:right;
    margin-right: 5%;
}

.reserve-button {
    font-family: Orbitron, sans-serif;
    font-size: 14px;
    color: #37bdcc;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}


.delete-button-2 {
    font-family: Orbitron, sans-serif;
    font-size: 14px;
    color: #37bdcc;
    margin-bottom: 5px;
    width: 100%;
}

.edit-button {
    font-family: Orbitron, sans-serif;
    font-size: 14px;
    color: #37bdcc;
    margin-bottom: 5px;
    width: 100%;
}

.add-button {
    margin-top: 2%;
    font-family: Orbitron, sans-serif;
    font-size: 14px;
    color: #37bdcc;
    width: 100%;
}

.delete-button {
    float: right;
    margin-top: 1%;
    margin-right: 2%;
    font-weight: 300;
    font-family: Orbitron, sans-serif;
    font-size: 20px;
    color: #4eb5ed;
}

.checkout-body {
    float: right;
    margin-right: 2%;
    margin-top: -40px;
}

.send-button {
    margin-top: 2%;
    font-family: Orbitron, sans-serif;
    font-size: 14px;
    color: #2f3483;
    width: 100%;  
}

.choose-file {
    margin-top: 2% !important;
    font-family: Roboto !important;
    color: grey !important;
}

@media(min-device-width : 641px) 
{
    .complete-button {

        font-size: 20px;
        border: none;
        background: transparent;
    }
    
    .reserve-button {

        font-size: 20px;
        border: none;
        background: transparent;
    }
     
    .delete-button-2 {
        font-size: 20px;  
        border: none;  
        background: transparent;  
    }
    
    .edit-button {
        font-size: 20px;
        border: none;
        background: transparent;
    }
    
    .add-button {
        font-size: 20px;
        border: none;
        background: transparent;
    }
    
    .delete-button {
        font-size: 30px;
        border: none;
        background: transparent;
    }
    
    .pay-button {
        font-size: 20px;
        border: none;
        background: transparent;
    }

    .send-button {
        font-size: 20px;
        border: none;
        background: transparent; 
    }

}
