.show-details {
    margin: 25% 5% 0 5%;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 10px;

    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        color: #37bdcc;
        margin-bottom: 0
    }

    p {
        font-family: 'Orbitron', sans-serif;
        font-size: 14px;
        color: #2f3483;
    }

    h6 {
        margin: 0;
        padding : 0;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: grey;
        white-space: pre-line;
    }

    img {
        max-width: 600px;
    }
}

.edit-box {
    margin: 25% 5% 0 5%;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 10px;

    p {
        font-family: 'Orbitron', sans-serif;
        font-size: 14px;
        color: #2f3483;
        margin: 5px 0 5px 0;
    }

    textarea {
        font-family: Roboto;
        font-size: 14px;
        color: grey;
        font-weight: 300;
        width: 98%;
    }
    
    input {
        margin: 0 0 10px 0;
        padding : 0;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: grey;
        width: 98%;
    }

}

@media(min-device-width : 641px) 
{
    .show-details {
        margin: 15% 5% 0 5%;

        h1 {
            font-size: 28px;
        }
    
        p {
            font-size: 18px;
        }
    
        h6 {
            font-size: 20px;
        }
        img {
            max-width: 900px;
        }
    }

    .edit-box {
        margin: 15% 5% 0 5%;

        p {
            font-size: 20px;
        }
    
        textarea {
            font-size: 22px;
        }
        
        input {
            font-size: 22px;
        }  
}
}

    @media (min-width:1025px) {

        .show-details {
            margin: 10% 5% 0 5%;
    
            h1 {
                font-size: 36px;
                margin-bottom: 2%;
            }
        
            p {
                font-size: 16px;
            }
        
            h6 {
                font-size: 18px;
            }
            
            img {
                max-width: 900px;
            }
    
        }

        .edit-box {
            margin: 10% 5% 0 5%;
    
            p {
                font-size: 16px;
            }
        
            textarea {
                font-size: 18px;
            }
            
            input {
                font-size: 18px;
            }  
    }
}