$bar-width: 40px;
$bar-height: 3px;
$bar-spacing: 10px;

.menu-wrapper {
  position: absolute;
  top: 30%;
  left: 75%;
  right: 0;
  bottom: 0;
  margin: auto;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
  border-radius: 20%;
  background: grey;

}

.hamburger-menu {
    position: relative;
    transition: 0ms;
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
}

.active {
    background: white;
}

.active:before {
    background: grey; 
    bottom: 0;
    transform: rotate(-45deg);
  }

  .active:after {
    background: grey; 
    top: 0;
    transform: rotate(45deg);
  }




  
// https://codepen.io/husnimun/pen/pJvEeL