header {
    z-index: 0;
    position: fixed;
    top: 0;
    display: flex;
	justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding-top: 3%;
}

#logo {
    margin: auto 5%;
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-decoration: none;
}


.smooth {
    animation-name: hop;
    animation-duration: 2s; 
}

@keyframes hop {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    } 
}

.menu-list {
    position: absolute;
    right: 0;
    margin: 5vh 0;
    padding: 10px;
    font-size: 2em;
    background: white;
    list-style: none;
    opacity: 0.9;
    border-radius: 5%;
    li {
        margin: -4px;
        padding-right: 10px;
        padding-left: 5px;
        text-align: right;
    }
    a {
        font-family: 'Orbitron', sans-serif;
        color: #636170;
        font-size: 14px;
        text-decoration: none;
    }

}


.leftie {
    display: none;
}

.header-box {
    margin: 0 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}


