.reservation-flex {
   display: flex; 
}

.left-block {
    margin-top: 23%;
    background: linear-gradient(to bottom right, #37bdcc, #2f3483);
    padding: 10% 4%;
    height: 80vh;
}

.reservation-title {
    margin:0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 6px;
    flex-wrap: wrap;
    padding-bottom: 20%;
    color: white;
}

.profile-image {
    border-radius: 100%;
    width: 28vw;
    height: 15vh;
}

.right-block {
    margin-top: 85px; 
    background-color: whitesmoke;
    width:100%;
}

.reserved-event {
    text-align: left;
    color: grey;
    padding: 0% 4%;
    font-size: 9px;
}

.alert {
    position: absolute;
    z-index:0;
    font-family: 'Orbitron', sans-serif;
    background-color: whitesmoke;
    padding: 40px;
    height: 80px;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    line-height: 22px;
    text-align: center;
    color: #53aeaf;
    
}