header {
    z-index: 0;
    position: fixed;
    top: 0;
    display: flex;
	justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding-top: 3%;
}

#logo {
    margin: auto 5%;
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-decoration: none;
}

.toggle-button {
    padding-top: 1vh;
    margin-right: 5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    background: none;
    border: none;
}

.smooth {
    animation-name: hop;
    animation-duration: 2s; 
}

@keyframes hop {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    } 
}

.menu-list {
    position: fixed;
    font-size: 1.5em;
    width: 40%;
    background: white;
    list-style: none;
    margin-top: 5%;
    padding-left: 2px;
    padding-top: 10px;
    opacity: 0.8;
}

.list-font {
    font-family: 'Orbitron', sans-serif;
    padding: 10px 0;
}

.leftie {
    display: none;
}

.header-box {
    margin: 0 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

