@import url("https://fonts.googleapis.com/css?family=Orbitron:700|Roboto:300");
.category-flex {
  display: flex;
  flex-direction: column; }

.event-block {
  margin-top: 23%;
  margin-bottom: 5%;
  background-color: white;
  width: 100%; }

.event-box {
  text-align: left;
  margin: 0 5%; }

.map-size {
  position: relative;
  width: 100%;
  height: 0; }
  .map-size div {
    border-radius: 10px !important;
    margin: 0 !important; }

.gm-style {
  font-family: 'Orbitron', sans-serif !important;
  color: #2f3483 !important; }
  .gm-style h1 {
    font-size: 1.5em !important; }

@media (min-device-width: 641px) {
  .event-block {
    margin: 15% 0 5% 0; } }

@media (min-width: 1025px) {
  .category-flex {
    display: flex;
    flex-direction: row; }
  .event-block {
    margin: 10% 0 3% 0; }
  .map-size {
    margin: 10.5% 0 3% 0;
    position: relative;
    width: 100%; }
  .map-block {
    position: fixed;
    width: 47vw; } }

.event-border {
  border-bottom: solid grey 1px;
  padding: 1% 0; }

.list-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3em;
  color: grey;
  margin: 0; }

.list-content {
  padding-left: 3%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 1.1em;
  color: grey; }

.detailedInfo {
  display: none; }

.show-details {
  margin: 25% 5% 0 5%;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px; }
  .show-details h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #37bdcc;
    margin-bottom: 0; }
  .show-details p {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    color: #2f3483; }
  .show-details h6 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: grey;
    white-space: pre-line; }
  .show-details img {
    max-width: 300px; }

.edit-box {
  margin: 25% 5% 0 5%;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px; }
  .edit-box p {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    color: #2f3483;
    margin: 5px 0 5px 0; }
  .edit-box textarea {
    font-family: Roboto;
    font-size: 14px;
    color: grey;
    font-weight: 300;
    width: 98%; }
  .edit-box input {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: grey;
    width: 98%; }

@media (min-device-width: 641px) {
  .show-details {
    margin: 15% 5% 0 5%; }
    .show-details h1 {
      font-size: 28px; }
    .show-details p {
      font-size: 18px; }
    .show-details h6 {
      font-size: 20px; }
    .show-details img {
      max-width: 700px; }
  .edit-box {
    margin: 15% 5% 0 5%; }
    .edit-box p {
      font-size: 20px; }
    .edit-box textarea {
      font-size: 22px; }
    .edit-box input {
      font-size: 22px; } }

@media (min-width: 1025px) {
  .show-details {
    margin: 10% 5% 0 5%; }
    .show-details h1 {
      font-size: 36px;
      margin-bottom: 2%; }
    .show-details p {
      font-size: 16px; }
    .show-details h6 {
      font-size: 18px; }
  .edit-box {
    margin: 10% 5% 0 5%; }
    .edit-box p {
      font-size: 16px; }
    .edit-box textarea {
      font-size: 18px; }
    .edit-box input {
      font-size: 18px; } }

.menu-wrapper {
  position: absolute;
  top: 30%;
  left: 75%;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 23px;
  cursor: pointer; }

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 40px;
  height: 3px;
  border-radius: 20%;
  background: grey; }

.hamburger-menu {
  position: relative;
  transition: 0ms; }

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px; }

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px; }

.active {
  background: white; }

.active:before {
  background: grey;
  bottom: 0;
  transform: rotate(-45deg); }

.active:after {
  background: grey;
  top: 0;
  transform: rotate(45deg); }

header {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  padding-top: 3%; }
  header #logo {
    margin: auto 5%;
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none; }

.menu-list {
  position: absolute;
  z-index: 100;
  right: 0;
  margin: 5vh 0;
  padding: 10px 10px 20px 10px;
  font-size: 2em;
  background: white;
  list-style: none;
  opacity: 0.9;
  border-radius: 5%; }
  .menu-list li {
    margin: -4px;
    padding-right: 10px;
    padding-left: 5px;
    text-align: right; }
  .menu-list a {
    font-family: 'Orbitron', sans-serif;
    color: #636170;
    font-size: 14px;
    text-decoration: none;
    z-index: 10; }

.smooth {
  animation-name: hop;
  animation-duration: 2s; }

@keyframes hop {
  from {
    opacity: 0; }
  to {
    opacity: 0.8; } }

.leftie {
  display: none; }
  .leftie .header-box {
    margin: 0 40px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    font-weight: 300;
    text-shadow: 1px 1px 1 #807d7e; }
  .leftie button {
    text-decoration: none;
    position: relative; }
    .leftie button:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: grey;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
      transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s; }
    .leftie button:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

@media (min-device-width: 641px) {
  header h1 {
    font-size: 40px; }
  menu button {
    display: none; }
  .menu-wrapper {
    display: none; }
  .leftie {
    display: flex;
    margin: auto 1%; } }

@media (min-width: 1025px) {
  header {
    padding-top: 1%; }
    header h1 {
      font-size: 50px; }
  .menu-wrapper {
    display: none; }
  .leftie .header-box {
    font-size: 22px; } }

.promise {
  background-image: url(https://i.imgur.com/kZn7d4b.jpg);
  background-size: 100% auto;
  font-weight: 300;
  margin-top: 23%;
  height: 20%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 1.5em;
  color: #ffffff;
  text-transform: uppercase; }

.verticalFlip {
  margin: 5%;
  display: flex;
  justify-content: center;
  font-weight: 300;
  width: 100%; }

.verticalFlip span {
  animation: vertical 12.5s linear infinite 0s;
  -ms-animation: vertical 12.5s linear infinite 0s;
  -webkit-animation: vertical 12.5s linear infinite 0s;
  opacity: 0;
  position: absolute;
  align-content: center; }

.verticalFlip span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s; }

.verticalFlip span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s; }

.verticalFlip span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s; }

.verticalFlip span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s; }

/*Vertical Flip Animation*/
@-moz-keyframes vertical {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -moz-transform: rotateX(180deg); }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  30% {
    opacity: 0;
    -moz-transform: translateY(0px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes vertical {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: rotateX(180deg); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(0px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes vertical {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -ms-transform: rotateX(180deg); }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  30% {
    opacity: 0;
    -ms-transform: translateY(0px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.cat-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.cat-box {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 4%;
  letter-spacing: 0.2rem;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: sub;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 60%;
  height: 23%;
  box-shadow: 5px 5px 5px grey; }
  .cat-box p {
    text-align: center;
    margin: 0;
    padding-top: 60%; }

.cat-1 {
  background-image: url("./images/outdoor.png"); }

.cat-2 {
  background-image: url("./images/afterwork.png"); }

.cat-3 {
  background-image: url("./images/clubbing.png"); }

.cat-4 {
  background-image: url("./images/live.png"); }

@keyframes pulse {
  25% {
    transform: scale(1.02); }
  75% {
    transform: scale(0.98); } }

.pulse:hover {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@media (min-device-width: 641px) {
  .promise {
    margin-top: 13%;
    letter-spacing: 0.3rem;
    font-size: 2em; }
  .cat-box {
    width: 45%;
    font-size: 26px; } }

@media (min-width: 1025px) {
  .promise {
    margin-top: 8%;
    padding: 7% 0 5% 0;
    line-height: 7%;
    font-size: 2em;
    letter-spacing: 0.5rem; }
  .cat-box {
    margin-top: 2%;
    width: 23%;
    font-size: 30px; } }

.each-box {
  background-color: whitesmoke;
  padding: 3px;
  margin: 3px;
  border-radius: 10px; }
  .each-box:hover {
    background-color: #e5e3e3; }
  .each-box a {
    text-decoration: none; }
  .each-box p {
    font-family: Orbitron, sans-serif;
    font-size: 11px;
    color: #37bdcc;
    padding-left: 2%; }
  .each-box h6 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    color: grey; }

@media (min-device-width: 641px) {
  .each-box p {
    font-size: 16px; }
  .each-box h6 {
    font-size: 18px; } }

@media (min-width: 1025px) {
  .each-box p {
    font-size: 18px; }
  .each-box h6 {
    font-size: 20px; } }

.reservation-flex {
  display: flex; }

.left-block {
  position: fixed;
  margin-top: 23%;
  background: linear-gradient(to bottom right, #37bdcc, #2f3483);
  padding: 10% 4%;
  height: 90vh;
  width: 28vw; }
  .left-block .reservation-title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 6px;
    flex-wrap: wrap;
    padding-bottom: 20%;
    color: white; }
  .left-block .profile-image {
    border-radius: 100%;
    width: 28vw;
    height: 15vh; }

.right-block {
  margin-top: 85px;
  padding-left: 135px; }

.alert {
  position: absolute;
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
  background-color: whitesmoke;
  padding: 40px;
  height: 80px;
  align-items: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 22px;
  text-align: center;
  color: #53aeaf; }

@media (min-device-width: 641px) {
  .left-block {
    margin-top: 12%;
    padding: 10% 2%;
    width: 30vw; }
    .left-block .reservation-title {
      letter-spacing: 3px;
      font-size: 14px; }
    .left-block .profile-image {
      width: 29vw;
      height: 22vh; }
  .right-block {
    margin-top: 120px;
    padding-left: 265px;
    width: 100%; }
  .alert {
    padding-top: 60px;
    height: 170px;
    font-size: 2.5em;
    line-height: 60px; } }

@media (min-device-width: 1000px) {
  .left-block {
    margin-top: 12%;
    padding: 10% 2%;
    width: 22vw; }
    .left-block .reservation-title {
      letter-spacing: 3px;
      font-size: 14px; }
    .left-block .profile-image {
      width: 22vw;
      height: 30vh; }
  .right-block {
    margin-top: 120px;
    padding-left: 270px;
    padding-right: 1%;
    width: 100%; } }

@media (min-width: 1025px) {
  .left-block {
    margin-top: 9%;
    padding: 10% 2%;
    width: 22vw; }
    .left-block .reservation-title {
      letter-spacing: 3px;
      font-size: 14px; }
    .left-block .profile-image {
      width: 22vw;
      height: 30vh; }
  .right-block {
    margin-top: 130px;
    padding-left: 380px;
    padding-right: 1%;
    width: 100%; } }

.add-event-page {
  margin: 25% 5% 0 5%;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px; }
  .add-event-page select {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: grey; }
  .add-event-page p {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    color: #2f3483;
    margin: 5px 0 5px 0; }
  .add-event-page textarea {
    font-family: Roboto;
    font-size: 14px;
    color: grey;
    font-weight: 300;
    width: 98%; }
  .add-event-page input {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: grey;
    width: 98%; }

@media (min-device-width: 641px) {
  .add-event-page {
    margin: 15% 5% 0 5%; }
    .add-event-page p {
      font-size: 18px; }
    .add-event-page select {
      font-size: 20px; }
    .add-event-page input {
      font-size: 20px; }
    .add-event-page textarea {
      font-size: 20px; } }

@media (min-width: 1025px) {
  .add-event-page {
    margin: 10% 5% 0 5%; }
    .add-event-page h1 {
      font-size: 36px; }
    .add-event-page p {
      font-size: 26px; }
    .add-event-page h6 {
      font-size: 28px; } }

.complete-button {
  font-family: Orbitron, sans-serif;
  font-size: 14px;
  color: #37bdcc;
  float: right;
  margin-right: 5%; }

.reserve-button {
  font-family: Orbitron, sans-serif;
  font-size: 14px;
  color: #37bdcc;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%; }

.delete-button-2 {
  font-family: Orbitron, sans-serif;
  font-size: 14px;
  color: #37bdcc;
  margin-bottom: 5px;
  width: 100%; }

.edit-button {
  font-family: Orbitron, sans-serif;
  font-size: 14px;
  color: #37bdcc;
  margin-bottom: 5px;
  width: 100%; }

.add-button {
  margin-top: 2%;
  font-family: Orbitron, sans-serif;
  font-size: 14px;
  color: #2f3483;
  width: 100%; }

.delete-button {
  float: right;
  margin-top: 1%;
  margin-right: 2%;
  font-weight: 300;
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  color: #4eb5ed; }

.checkout-body {
  float: right;
  margin-right: 2%;
  margin-top: -40px; }

.send-button {
  margin-top: 2%;
  font-family: Orbitron, sans-serif;
  font-size: 14px;
  color: #2f3483;
  width: 100%; }

@media (min-device-width: 641px) {
  .complete-button {
    font-size: 20px;
    border: none;
    background: transparent; }
  .reserve-button {
    font-size: 20px;
    border: none;
    background: transparent; }
  .delete-button-2 {
    font-size: 20px;
    border: none;
    background: transparent; }
  .edit-button {
    font-size: 20px;
    border: none;
    background: transparent; }
  .add-button {
    font-size: 20px;
    border: none;
    background: transparent; }
  .delete-button {
    font-size: 30px;
    border: none;
    background: transparent; }
  .pay-button {
    font-size: 20px;
    border: none;
    background: transparent; }
  .send-button {
    font-size: 20px;
    border: none;
    background: transparent; } }

.App {
  position: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center; }

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
